    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }
    
    body {
        padding-top: 30px;
        font-family: "Montserrat";
    }
    
    h2 {
        font-size: calc(1.125rem + .9vw)
    }
    
    h3 {
        font-size: calc(1rem + .9vw)
    }
    
    .programs li {
        list-style: none;
        line-height: 1.9rem;
    }
    
    .programs li a {
        text-decoration: none;
    }
    
    .checkboxes input[type="checkbox"]:first-child {
        margin-left: 2ch;
        margin-right: 1ch;
    }
    
    .checkboxes input[type="checkbox"]:not(:first-child) {
        margin-right: 1ch;
    }
    
    .week-num {
        margin-left: 1ch;
        font-weight: 700;
        cursor: pointer;
    }
    
    .fa-external-link-square-alt {
        color: orange;
        cursor: pointer;
    }
    
    .checkboxes-with-labels label:first-child {
        margin-left: 1ch;
    }
    
    .checkboxes-with-labels input {
        margin-right: .5ch;
    }
    
    @media screen AND (max-width:850px) {
        .col-sm-6 {
            width: 100%;
        }
    }
    /* Fit better on phones */
    
    ul {
        padding: 0;
    }
    
    .card-header {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 90%;
    }
    
    .card-body {
        padding-left: 0;
        padding-right: 0;
        font-size: 90%;
    }