:root {
    --row-height: 100px;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    padding-top: 30px;
    font-family: "Montserrat";
}

h1 mark {
    font-weight: 600;
    background-color: transparent;
    padding: 0;
}

h1 span {
    font-weight: 400;
}

.phases .row {
    height: var(--row-height);
}

.phase-numeral,
.phase-at,
.phase-type,
.phase-timemark {
    line-height: var(--row-height);
    font-size: 1.7rem;
}

@media screen AND (max-width: 768px) {
    .phase-numeral,
    .phase-at,
    .phase-type,
    .phase-timemark {
        line-height: var(--row-height);
        font-size: 1rem;
    }
}

.position-corner {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 130px;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 20px;
    border: 1px solid rgba(125, 125, 125, 0.5);
}

.position-corner .global-timer {
    width: 80%;
    border-bottom: 1px solid rgba(125, 125, 125, 0.5);
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.25rem;
}

.position-corner .fa {
    cursor: pointer;
}

.position-corner .fa:hover {
    color: yellowgreen;
}

.conclusion {
    /** Imperial Red **/
    border: 2px solid black;
    background-color: rgba(237, 41, 57, 1);
}

.spacer {
    width: 1px;
    height: 110px;
}

.restarting {
    background-color: lightgray !important;
}

.font-weight-bold {
    font-weight: 1000;
    text-shadow: 1px 2px rgba(0, 0, 0, .3);
}